nav.navbar-transparente {
    background: rgba(52, 58, 64, 0.9);
}

nav.bg-verde {
    background-color: #caf8ed;
}

.btn-verde {
    background-color: #177e60;
}

.btn-verde:hover {
    background-color: #1a9975;
}

.btn-azul {
    background-color: #1a4894;
}

.btn-azul:hover {
    background-color: #1c53ac;
}

footer.bg-verde {
    background-color: #caf8ed;
}

.bg-verde-escuro {
    background-color: #9be0d0;
}

main {
    /* background-color: #ddf8f2; */
    background-color: #e3fbf6;
}

a.link-verde, i.icone-verde {
    color: #177e60;
}

li.lista {
    list-style: none;
}

/*****************************
-----------GALERIA------------ 
*****************************/
.galeria > img {
    margin-bottom: 15px;
    margin-top: 15px;
    opacity: 0.9;
    cursor: pointer;
}

.galeria > img:hover {
    opacity: 1;
}

.galeria-full-screen {
    z-index:3;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    color: #FFF!important;
    background-color: rgba(0, 0, 0, 0.9)!important;
}

.galeria-full-screen-conteudo {
    margin:auto;
    background-color:transparent!important;
    position:relative;
    padding:0;
    outline:0;
    width:600px;
    padding-top:80px!important;
    padding-bottom:64px!important;
}
.galeria-full-screen-botao-fechar {
    font-size:50px!important;
    cursor: pointer;
    position:absolute;
    right:0;
    top:50px;
}

.galeria-full-screen-conteudo-imagem {
    max-width:100%;
    height:auto;
}

.galeria-full-screen-animacao {
    animation:animatezoom 0.2s;
}

@keyframes animatezoom {
    from {
        transform:scale(0)
    } 
    to {
        transform:scale(1)
    }
}

iframe{
    width: 600px;
    height: 450px;
}

@media (max-width: 575.98px) {
    iframe{
      width: 100%;
      height: 450px;
    }
    .galeria-full-screen-conteudo {
        margin:0 30px;
        width:auto!important;
    }
    
    .galeria-full-screen {
        padding-top:30px;
    }
}
  
  
@media (min-width: 576px) {
    iframe{
        width: 100%;
        height: 450px;
      }
}
  
@media (min-width: 768px) {
    iframe{
        width: 100%;
        height: 450px;
    }
}

@media (max-width:768px) {
    .galeria-full-screen-conteudo {
        width:500px;
    }
    
    .galeria-full-screen {
        padding-top:50px;
    }
}
  
@media (min-width: 992px) {
    iframe{
        width: 100%;
        height: 450px;
    }
    .galeria-full-screen-conteudo {
        width:600px;
    }   
}